.App {
  text-align: center;
}
.box {
  box-shadow: 2px 2px 2px 2px grey;
  width: 70%;
  margin: 10px auto;
  padding: 20px 5px;
  font-weight: bold;
}
.box button {
  margin-bottom: 30px;
  font-weight: bold;
  color: white;
  background-color: rgb(21, 77, 231);
  padding: 10px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px grey;
  border: coral;
}
.box ul li {
  list-style: none;
}
