* {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
.header {
  height: 100vh;
  background-color: rgba(116, 168, 236, 0.534);
}
.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.form {
  width: 80%;
}
.flex {
  display: flex;
  width: 51%;
}
.flex button {
  width: 15%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(0, 102, 255);
  border: blue;
  box-shadow: 2px 2px 2px grey;
  border-radius: 3px;
}
.flex input {
  padding: 10px;
  background-color: rgb(237, 244, 253);
  border: blue;
  box-shadow: 2px 2px 2px grey;
  border-radius: 3px;
}
h1 {
  padding: 10px;
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(3, 49, 119);
  text-shadow: 2px 2px 4px grey;
}
.box {
  display: flex;
  text-align: left;
  box-shadow: 3px 3px 7px grey;
  width: 50%;
  margin: 10px auto;
  padding: 20px 20px 25px;
  background-color: rgb(237, 244, 253);
  border-radius: 3px;
}
.imageContainer {
  width: 30%;
  margin: 10px;
}
.box img {
  width: 80px;
}
.box h2 {
  padding-top: 5px;
  padding-bottom: 8px;
  color: rgb(3, 49, 119);
}
.box h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
.box h5 {
  padding-bottom: 20px;
  font-size: 1rem;
}
.error {
  text-align: center;
  box-shadow: 3px 3px 7px grey;
  width: 50%;
  margin: 10px auto;
  padding: 20px 20px 25px;
  color: white;
  font-weight: bold;
  background-color: rgba(253, 93, 65, 0.986);
  border-radius: 3px;
}

@media (max-width: 900px) {
  .App {
    width: 100%;
  }
  .flex {
    width: 96%;
  }
  .box {
    width: 95%;
  }
  .error {
    width: 95%;
  }
}
