* {
  margin: 0 auto;
  padding: 0;
  width: 98%;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
h1 {
  padding: 10px;
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
}
.box {
  text-align: left;
  box-shadow: 3px 3px 7px grey;
  width: 50%;
  margin: 10px auto;
  padding: 20px 20px 25px;
}
.box h2 {
  padding-top: 5px;
  padding-bottom: 8px;
  color: darkblue;
}
.box h4 {
  font-size: 1.2rem;
}
.box h5 {
  padding-bottom: 20px;
  font-size: 1rem;
}
